/* __utils */
/*ClearFix*/
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/* IE6 */
*html .clearfix {
  zoom: 1;
}
/* IE7 */
*:first-child + html .clearfix {
  zoom: 1;
}
/*Image replacement*/
.r-ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}
.r-ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
.r-animado {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.r-text-overflow {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.r-esconder-texto {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.r-oculto {
  display: none !important;
  visibility: hidden;
}
.r-invisible {
  visibility: hidden;
}
.r-visualmenteescondido {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  /*// Esconder pero permitir hacerle target con el teclado*/
}
.r-visualmenteescondido.focusable:active,
.r-visualmenteescondido.focusable:focus {
  position: static;
  clip: auto;
  height: auto;
  width: auto;
  margin: 0;
  overflow: visible;
}
/* __common.less*/
a {
  color: #428bca;
}
a:hover,
a:focus {
  color: #0681ea;
  outline: 0;
}
a:active {
  outline: 0;
}
/* __sec_header */
.header .title-wrapper {
  border-bottom: 5px solid #CC0011;
}
.header .title-wrapper hgroup h1 a {
  font-family: 'Ubuntu', Gadget, sans-serif;
}
.header .title-wrapper hgroup h3 {
  font-family: Consolas, 'Lucida Console', 'DejaVu Sans Mono', monospace;
  color: green;
  font-weight: bold;
}
.header .title-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
.header .title-wrapper #social-icons a:hover span {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
.header .title-wrapper::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  left: -webkit-calc(40%);
  left: -moz-calc(40%);
  left: -o-calc(40%);
  left: 50%;
  margin-top: 35px;
  border-width: 10px 10px 0;
  border-style: solid;
  border-color: #CC0011 transparent;
}
.header .nav .buscador {
  width: 180px;
  padding: 10px;
}
.header .nav .buscador input.t-search {
  -moz-transition: width 0.3s linear;
  -o-transition: width 0.3s linear;
  -webkit-transition: width 0.3s linear;
  transition: width 0.3s linear;
  width: 150px;
}
.header .nav .buscador input.t-search:focus {
  -moz-transition: width 0.3s linear;
  -o-transition: width 0.3s linear;
  -webkit-transition: width 0.3s linear;
  transition: width 0.3s linear;
  width: 180px;
}
.header .nav .menu-login i {
  margin-right: 5px;
}
.header .nav .menu-login .dropdown-menu {
  margin-top: 5px;
}
.header .nav li a:hover {
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  /*//background-color: lighten(#000,10%);
                i::before {
                    //.rf-transition-all(0.2s);
                    .rf-rotate();
                }*/
}
.header #search-Xs li {
  padding: 3px 10px 0;
}
/* __sec_widgets */
/*.widget {
    background-color: #ffffff;
    padding: 6%;
    margin-bottom: 20px;
    border-radius: 6px;
    box-shadow: 0 1px 2px #000000;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.widget .widget-header { margin: 0 0 15px 0; border-bottom: 1px solid #eeeeee; padding-bottom: 4%; font-weight: bold; font-size: 16px; }
.widget ul { list-style: none; padding: 0; }
.widget ul li { border-bottom: 1px solid #eee; padding: 4px 0; }
.widget ul ul li { border: none; }*/
.content-wrapper .widget,
.sidebar-wrapper .widget {
  background-color: #ffffff;
  padding: 6%;
  margin-bottom: 20px;
  border-radius: 6px;
  box-shadow: 0 1px 2px #000000;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.content-wrapper .widget.Blog,
.sidebar-wrapper .widget.Blog {
  padding: 0;
}
.content-wrapper .widget .widget-header,
.sidebar-wrapper .widget .widget-header {
  margin: 0 0 15px 0;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 4%;
  font-weight: bold;
  font-size: 16px;
}
.content-wrapper .widget ul,
.sidebar-wrapper .widget ul {
  list-style: none;
  padding: 0;
}
.content-wrapper .widget ul li,
.sidebar-wrapper .widget ul li {
  border-bottom: 1px solid #eee;
  padding: 4px 0;
}
.content-wrapper .widget ul ul li,
.sidebar-wrapper .widget ul ul li {
  border: none;
}
.widget.Blog {
  background-color: #eee;
  box-shadow: none;
}
.widget.Profile p {
  font-size: 13px;
  text-align: justify;
  line-height: 20px;
}
.widget.Profile p img {
  float: left;
  margin-right: 10px;
  border: 1px solid #CCCCCC;
  padding: 2px;
}
.widget.Label .cloud-label-widget-content {
  text-align: center;
}
.widget.Label .label-size {
  line-height: 2.2em;
  padding: 8px;
}
.widget.Label .label-size a {
  padding: 3px;
  border-radius: 3px;
  text-decoration: none;
}
.widget.Label .label-size a:hover {
  color: #fff !important;
  background: #0681ea;
}
.widget.Label .label-size.label-size-5 {
  font-size: 125%;
  color: #428bca;
}
.widget.Label .label-size.label-size-4 {
  font-size: 110%;
  color: #5697d0;
}
.widget.Label .label-size.label-size-3 {
  font-size: 95%;
  color: #6aa3d5;
}
.widget.Label .label-size.label-size-2 {
  font-size: 80%;
  color: #7eb0db;
}
.widget.Label .label-size.label-size-1 {
  font-size: 70%;
  color: #92bce0;
}
.widget#ContactForm1 {
  display: none;
}
/* __sec_posts */
/*Footer rene Bio */
.post-body.text {
  text-align: justify;
}
.about-rene {
  margin: 10px 0 0;
  border: 1px solid #ccc;
  background-color: #f4f4f4;
  padding: 10px;
  font-size: 0.92em;
  line-height: 1.75em;
}
.about-rene h3 {
  margin-top: 0;
  display: none;
}
.about-rene .bio-info p {
  line-height: 19px;
  text-align: justify;
  padding-right: 5px;
}
.about-rene .bio-info p:first-letter {
  font-size: 3.6em;
  margin-top: 10px;
  float: left;
  color: #2a6496;
}
.about-rene .pic {
  float: left;
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding: 10px;
  width: 122px;
}
.about-rene .pic img {
  vertical-align: top;
  border-radius: 50%;
  border: solid;
  border-width: 1px;
}
/* __sec_comments */
#comments {
  background-color: #ffffff;
  padding: 4%;
  margin-bottom: 20px;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
#comments .well-global-title {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}
#comments .comments-content li.comment {
  margin-bottom: 0;
  padding-bottom: 0;
}
#comments .comments-content .comment-block {
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 2%;
  margin-bottom: 10px !important;
}
#comments .comments-content .comment-block:before {
  background: url('https://drive.google.com/uc?id=13hJBEFF2PFNhYOq0ksvLNjcy0DSTqA5S') no-repeat 0 0;
  content: '';
  width: 9px;
  height: 17px;
  position: absolute;
  left: -9px;
  top: 9px;
  z-index: 999;
}
#comments .comments-content .comment-replies > div {
  padding-right: 0;
}
/* __sec_footer */
.footer {
  background-color: #222;
  margin: 0;
  padding: 0;
}
.footer a {
  color: #AAA;
  background-color: #222;
}
.footer .widgets-footer > div {
  width: 31.3%;
  float: left;
  background: none;
  color: #AAA;
  padding: 2% 0;
  box-shadow: none;
}
.footer .widgets-footer > div + div {
  margin-left: 3%;
}
.footer .widgets-footer .widget-header {
  /*border-color: #0681ea;
        border-width: 2px;*/
  margin: 0 0 15px 0;
  border-bottom: 2px solid #0681ea;
  padding-bottom: 4%;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 0;
  text-align: left;
}
.footer .widgets-footer .widget-content li.archivedate {
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom: 1px solid #111;
  text-align: left;
  border-bottom-width: 1px !important;
}
.footer .widgets-footer .widget-content > ul li {
  padding: 4px 0;
  border-bottom: 1px solid #111;
  text-align: left;
}
.footer .widgets-footer .widget-content .item-title {
  padding-bottom: 0;
}
.footer .widgets-footer .widget-content .item-snippet {
  font-size: 0.82em;
  font-style: italic;
}
/*.footer .widgets-footer .widget:last-child {
        margin: 0;
    }*/
.footer .end-line {
  min-height: 50px;
  background-color: #111;
  line-height: 50px;
  text-transform: uppercase;
  font-size: 12px;
}
.footer .end-line p {
  margin: 0;
  color: #AAA;
}